@font-face {
    font-family: Jumper;
    src: url(../fonts/Jumper.ttf);
}

@font-face {
    font-family: Grotesk;
    src: url(../fonts/Grotesk.ttf);
}

body {
    background-color: #2b3441;
    font-family: Grotesk;
    color: #FFFFFA;
}

h2 {
    color: #FFFFFA;
    margin-top: 60px;
    margin-bottom: 25px;
}

header {
    font-size: 40px;
    font-family: Jumper;
    color: #D64933;
    text-shadow: 6px 2px 0px #191923;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

nav a,
#cat-menu a,
footer a {
    font-size: 15px;
    color: #FFFFFA;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

@media screen and (min-width: 1023px) {

    nav a,
    #cat-menu a,
    footer a {
        font-size: 20px;
    }
}

a:hover {
    color: #e6e6ab;
}

button {
    background-color: #364252;
    color: #FFFFFA;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#more {
    display: none;
}

@media screen and (max-width: 1023px) {

    #more {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

strong {
    color: #e6e6ab;
}

nav,
footer,
#cat-menu {
    margin-top: 100px;
    text-align: center;
    overflow-wrap: break-word;
}

#cat-menu {
    margin-bottom: 60px;
}

#best-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #232b35;
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

@media screen and (max-width: 1023px) {

    #best-container {
        flex-direction: column;
    }
}

#best-movie {
    display: flex;
    justify-content: center;
}

.best-image {
    flex: 1;
    width: 180px;
    height: auto;
    margin: 14px;
}

@media screen and (min-width: 768px) {

    .best-image {
        width: 230px;
    }
}

#best-cat0,
#best-cat1,
#best-cat2,
#choosen-cat {
    border-radius: 8px;
    background-color: #232b35;
    padding: 14px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    width: min-content;
    grid-row-gap: 20px;
    justify-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 767px) {

    #best-cat0> :nth-child(n+3),
    #best-cat1> :nth-child(n+3),
    #best-cat2> :nth-child(n+3),
    #choosen-cat> :nth-child(n+3) {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){

    #best-cat0,
    #best-cat1,
    #best-cat2,
    #choosen-cat {
        grid-template-columns: repeat(2, auto);
    }

    #best-cat0> :nth-child(n+5),
    #best-cat1> :nth-child(n+5),
    #best-cat2> :nth-child(n+5),
    #choosen-cat> :nth-child(n+5) {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    #best-cat0,
    #best-cat1,
    #best-cat2,
    #choosen-cat {
        grid-template-columns: repeat(3, auto);
    }
}

.images-container {
    position: relative;
}

.movie-image {
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 10px;
    transition: transform 0.4s ease-in-out;
}

.movie-image:hover {
    filter: blur(1px);
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.04);
}

.image-title {
    position: absolute;
    bottom: 22px;
    left: 6px;
    width: 190px;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: Grotesk;
    color: #FFFFFA;
    opacity: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-title.show-title {
    opacity: 1;
}

@media screen and (min-width: 1023px) {

    .left-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 50px;
        background-color: #262d38;
        z-index: -1;
        box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
    }

    .right-sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 50px;
        background-color: #2c3542;
        z-index: -1;
        box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
    }
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    width: 80%;
    height: 70%;
    border: 2px solid #14191f;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

#toggle-modal:checked+#modal {
    display: block;
}

#close-modal {
    position: absolute;
    right: 0%;
    top: 0%;
    margin: 10px;
}

.details-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#movie-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#datails-img,
#details-container {
    margin-right: 20px;
    margin-left: 20px;
}